<div class="hero">
	<br />

	<div class="frosty col-xs-10 col-xs-offset-1 text-center">
		<br />
		<h1>Learn the Force</h1>
		<br />	
		<h2>You are a little short for a Storm Trooper, after all.</h2>
		<br />
		<%= link_to 'Learn More', courses_path, :class => 'btn btn-success' %>
		<br /><br />
	</div>
</div>

<br />
<div class="col-xs-10 col-xs-offset-1 features text-center">
	<div class="col-sm-4">
		<h3>Jedi</h3>
	</div>

	<div class="col-sm-4">
		<h3>Sith</h3>
	</div>

	<div class="col-sm-4">
		<h3>Nerf-herder</h3>
	</div>
</div>